Flask[async]
python-telegram-bot==21.6
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
python-dotenv
google-generativeai
gspread
gunicorn  # Servidor WSGI/ASGI de produção
gevent    # Worker assíncrono para Gunicorn
tinydb==4.8.2
